<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>mScrabble</title>
        
        <link href="{{url_for('static', filename='index.css')}}" rel="stylesheet" />
    </head>
    <body onload>
        
        <div class="center" id="center">
            <p id="heading">mScrabble</p>
            <span id="playerNumber">
            
            </span>
            <br>
            <div id='startButtonLanguage'></div>
        </div>

        <script src="{{url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
        <script src="{{url_for('static', filename='index_1.js')}}"></script>
    </body>
</html>
